logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings

project/target
project/project/target
.history

# IntelliJ project files
.idea
*.iml
*.DS_Store

*.sc


.env
.envrc
temp/

.java-version
.metals/
.bloop/˚
project/metals.sbt

# dataset path
data/